@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  src: url("/assets/fonts/Lenora/LenoraPremium-Regular.eot") format("eot"),
    url("/assets/fonts/Lenora/LenoraPremium-Regular.woff") format("woff"),
    url("/assets/fonts/Lenora/LenoraPremium-Regular.woff2") format("woff2"),
    url("/assets/fonts/Lenora/LenoraPremium-Regular.ttf") format("truetype");
  font-family: "Lenora";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("/assets/fonts/Lenora/LenoraPremium-Medium.eot") format("eot"),
    url("/assets/fonts/Lenora/LenoraPremium-Medium.woff") format("woff"),
    url("/assets/fonts/Lenora/LenoraPremium-Medium.woff2") format("woff2"),
    url("/assets/fonts/Lenora/LenoraPremium-Medium.ttf") format("truetype");
  font-family: "Lenora";
  font-weight: 500;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/Proxima Nova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/Proxima Nova/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
}

.hero {
  background-image: url("/assets/images/Cover.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 768px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-left: 50px;
  color: #fff;
}
.hero__content {
  max-width: 300px;
  color: #fff;
  text-align: left;
}
.hero__title {
  font-family: "Lenora", serif;
  font-size: 4.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero__description {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 30px;
}
.hero__button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-family: "Proxima Nova", sans-serif;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.hero__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.shop-category {
  background-color: #fff;
  padding: 4rem 0;
}
.shop-category h2 {
  font-family: "Lenora", serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  display: block;
  width: 100%;
}
.shop-category .shop-category__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 424px;
}
.shop-category .shop-category__item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.shop-category .shop-category__item .shop-category__title {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

h2 {
  font-family: "Lenora", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  text-align: left;
}

h3 {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

h4,
figcaption {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  text-align: center;
}

.jewellery-slider h3 {
  margin-bottom: 1.75rem;
  margin-top: 3.75rem;
}

.jewellery-slider {
  max-width: 1440px;
  margin: 3.75rem auto 6rem auto;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.jewellery-slider__container {
  position: relative;
}
.jewellery-slider__container .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: #000000;
  font-size: 50px;
  font-weight: 100;
}
.jewellery-slider__container .owl-nav button {
  outline: none;
}

.jewellery-slider__wrapper {
  max-width: 1440px;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.owl-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin: 0rem !important;
}

.jewellery-slider__img-box {
  width: 19rem;
  height: 19rem;
}

.jewellery-slider__img-box img {
  max-width: 19rem;
  max-height: 19rem;
  -o-object-fit: cover;
  object-fit: cover;
}

/* ===================== */
/* Медиазапросы для адаптивности */
/* ===================== */
/* Для экранов с шириной от 1920px */
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 6rem;
  }
  .hero__description {
    font-size: 1.8rem;
    max-width: 60rem;
  }
  .hero__button {
    font-size: 1.2rem;
    padding: 20px 35px;
  }
}
/* Для экранов с шириной до 1280px */
@media screen and (max-width: 1280px) {
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__button {
    font-size: 0.9rem;
    padding: 12px 25px;
  }
  .shop-category__item img {
    width: 35rem;
    height: 35rem;
  }
  /*Адаптивы для слайдера */
  .jewellery-slider__container {
    max-width: 1280px;
  }
}
/* Для планшетов с шириной до 768px */
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding-left: 20px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__description {
    font-size: 1rem;
  }
  .hero__button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
/* Для мобильных устройств с шириной до 320px */
@media screen and (max-width: 320px) {
  .hero {
    justify-content: center;
    padding-left: 10px; /* Ещё меньше отступы */
  }
  .hero__title {
    font-size: 1.8rem; /* Минимальный размер заголовка */
  }
  .hero__description {
    font-size: 0.9rem; /* Уменьшенное описание */
    margin-bottom: 20px;
  }
  .hero__button {
    font-size: 0.7rem; /* Маленький текст кнопки */
    padding: 8px 15px; /* Ещё меньше кнопка */
  }
}
/* 4 start*/
.why-choose-us-section {
  display: flex;
  flex-direction: column;
  font-family: Proxima Nova, sans-serif;
}

.why-choose-us-background {
  background: var(--Main-Gray, #f2f2f2);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 80px;
}

.why-choose-us-container {
  display: flex;
  width: 100%;
  max-width: 1188px;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
}

.why-choose-us-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  flex-direction: column;
}

.feature-item {
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

.why-choose-us-image {
  aspect-ratio: 8.2;
  object-fit: contain;
  object-position: center;
  width: 100%;
  max-width: 1160px;
}

.why-choose-us-image {
  text-align: center;
}

.why-choose-us-features {
  display: flex;
  margin-top: 29px;
  gap: 20px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  line-height: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  width: 277px;
}

.feature-item-wide {
  width: 323px;
}

.feature-item-widest {
  width: 311px;
}

@media (max-width: 991px) {
  .why-choose-us-background {
    max-width: 100%;
    padding: 0 20px;
  }

  .why-choose-us-container {
    max-width: 100%;
  }

  .why-choose-us-image {
    max-width: 100%;
    margin: 40px 6px 0 0;
  }

  .why-choose-us-features {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* 4 end*/

/* 5 start */
.testimonial-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 70px 7px;
}

.testimonial-content {
  display: flex;
  width: 100%;
  max-width: 1054px;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-left: 24px;
}

.quote-mark {
  color: #111;
  text-align: left;
  -webkit-text-stroke: 2px #000;
  font: 400 163px Gentium Basic, sans-serif;
}

.testimonial-text-container {
  margin-top: 18px;
  flex-grow: 1;
  flex-basis: auto;
}

.testimonial-columns {
  display: flex;
  gap: 20px;
}

.testimonial-text-column {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.testimonial-text-wrapper {
  display: flex;
  margin-right: -66px;
  flex-direction: column;
  align-items: flex-start;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 32px;
}

.testimonial-text {
  color: #000;
  font-size: 22px;
  align-self: stretch;
}

.testimonial-author {
  color: #000;
  font-size: 18px;
  margin-top: 49px;
}

.author-signature {
  width: 115px;
  margin-top: 6px;
}

.testimonial-image-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20px;
}

.testimonial-image {
  width: 100%;
  border-radius: 0;
  margin-top: 7px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .testimonial-container {
    padding: 100px 20px 0;
  }

  .testimonial-content {
    max-width: 100%;
  }

  .quote-mark {
    font-size: 40px;
  }

  .testimonial-text-container {
    max-width: 100%;
  }

  .testimonial-columns {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .testimonial-text-column,
  .testimonial-image-column {
    width: 100%;
  }

  .testimonial-text-wrapper {
    max-width: 100%;
  }

  .testimonial-author {
    margin-top: 40px;
  }

  .testimonial-image {
    max-width: 100%;
  }
}
/* 5 end */
