@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  src: url("/assets/fonts/Lenora/LenoraPremium-Regular.eot") format("eot"), url("/assets/fonts/Lenora/LenoraPremium-Regular.woff") format("woff"), url("/assets/fonts/Lenora/LenoraPremium-Regular.woff2") format("woff2"), url("/assets/fonts/Lenora/LenoraPremium-Regular.ttf") format("truetype");
  font-family: "Lenora";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("/assets/fonts/Lenora/LenoraPremium-Medium.eot") format("eot"), url("/assets/fonts/Lenora/LenoraPremium-Medium.woff") format("woff"), url("/assets/fonts/Lenora/LenoraPremium-Medium.woff2") format("woff2"), url("/assets/fonts/Lenora/LenoraPremium-Medium.ttf") format("truetype");
  font-family: "Lenora";
  font-weight: 500;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Regular.woff2") format("woff2"), url("../assets/fonts/Proxima Nova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Bold.woff2") format("woff2"), url("../assets/fonts/Proxima Nova/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
}

.hero {
  background-image: url("/assets/images/Cover.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 768px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-left: 50px;
  color: #fff;
}
.hero__content {
  max-width: 300px;
  color: #fff;
  text-align: left;
}
.hero__title {
  font-family: "Lenora", serif;
  font-size: 4.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero__description {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 30px;
}
.hero__button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-family: "Proxima Nova", sans-serif;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.hero__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.shop-category {
  background-color: #fff;
  padding: 4rem 0;
}
.shop-category h2 {
  font-family: "Lenora", serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  display: block;
  width: 100%;
}
.shop-category .shop-category__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 424px;
}
.shop-category .shop-category__item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop-category .shop-category__item .shop-category__title {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

h2 {
  font-family: "Lenora", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  text-align: left;
}

h3 {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

h4,
figcaption {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  text-align: center;
}

.jewellery-slider h3 {
  margin-bottom: 1.75rem;
  margin-top: 3.75rem;
}

.jewellery-slider {
  max-width: 1440px;
  margin: 3.75rem auto 6rem auto;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.jewellery-slider__container {
  position: relative;
}
.jewellery-slider__container .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: #000000;
  font-size: 50px;
  font-weight: 100;
}

.jewellery-slider__wrapper {
  max-width: 1440px;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.owl-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin: 0rem !important;
}

.jewellery-slider__img-box {
  width: 19rem;
  height: 19rem;
}

.jewellery-slider__img-box img {
  max-width: 19rem;
  max-height: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.learn-more-section {
  width: 1440px;
  height: 59.875rem;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  position: relative;
}
.learn-more-section h3 {
  color: #ffffff;
  margin-top: 3.75rem;
}

.learn-more-section__background-rectangle {
  width: 1440px;
  height: 18.75rem;
  margin: 0 auto;
  background: linear-gradient(111.01deg, rgba(4, 0, 177, 0.2) -8.76%, rgba(0, 0, 0, 0) 102.99%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #363840;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.learn-more-section__all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 6.125rem;
  margin-bottom: 5rem;
}

.learn-more-section__card {
  width: 26.5rem;
}

.learn-more-section__card-photo {
  width: 26.5rem;
  height: 26.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
}

.learn-more-section__card-figcaption {
  width: 19.44rem;
  text-align: left;
}

.learn-more-section__card-photo-title {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2rem;
}

.learn-more-section__card-photo-paragraph {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.learn-more-section__btn {
  width: 12.475rem;
  height: 4rem;
  background-color: #ffffff;
  border: 1px solid #111111;
  border-radius: 5px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  vertical-align: middle;
}

.invitation {
  position: relative;
  background-image: url("/assets/images/invitation.jpg");
  background-size: cover;
  background-position: center;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}
.invitation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.invitation__content {
  position: relative;
  z-index: 2;
}
.invitation__title {
  font-family: "Lenora", serif;
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}
.invitation__description {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}
.invitation .btn {
  display: inline-block;
  padding: 15px 30px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.invitation .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ===================== */
/* Медиазапросы для адаптивности */
/* ===================== */
/* Для экранов с шириной от 1920px */
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 6rem;
  }
  .hero__description {
    font-size: 1.8rem;
    max-width: 60rem;
  }
  .hero__button {
    font-size: 1.2rem;
    padding: 20px 35px;
  }
}
/* Для экранов с шириной до 1280px */
@media screen and (max-width: 1280px) {
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__button {
    font-size: 0.9rem;
    padding: 12px 25px;
  }
  .shop-category__item img {
    width: 35rem;
    height: 35rem;
  }
  /*Адаптивы для слайдера */
  .jewellery-slider__container {
    max-width: 1280px;
  }
  .jewellery-slider__wrapper {
    max-width: 1280px;
    height: 26rem;
  }
  .owl-item {
    width: 26.6rem;
    height: 26rem;
  }
  .jewellery-slider__img-box {
    width: 16.93rem;
    height: 17.43rem;
  }
  .jewellery-slider__img-box img {
    max-width: 16.93rem;
    max-height: 17.43rem;
  }
}
/* Для планшетов с шириной до 768px */
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding-left: 20px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__description {
    font-size: 1rem;
  }
  .hero__button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
/* Для мобильных устройств с шириной до 320px */
@media screen and (min-width: 320px) {
  .hero {
    justify-content: center;
    padding-left: 10px; /* Ещё меньше отступы */
  }
  .hero__title {
    font-size: 1.8rem; /* Минимальный размер заголовка */
  }
  .hero__description {
    font-size: 0.9rem; /* Уменьшенное описание */
    margin-bottom: 20px;
  }
  .hero__button {
    font-size: 0.7rem; /* Маленький текст кнопки */
    padding: 8px 15px; /* Ещё меньше кнопка */
  }
}