// Подключаем Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "fonts"; // Подключение файла с шрифтами

// Основные стили для всего документа
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
}

// Стили для секции hero
.hero {
  background-image: url("/assets/images/Cover.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 768px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-left: 50px;
  color: #fff;

  &__content {
    padding-top: 100px;
    color: #fff;
    text-align: left;
  }

  &__title {
    font-family: "Lenora", serif;
    width: 536px;
    height: 128px;
    margin-bottom: 100px;
  }

  &__description {
    font-family: "Proxima Nova", sans-serif;
    width: 424px;
    height: 72px;
    margin-bottom: 30px;
  }

  &__button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-family: "Proxima Nova", sans-serif;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

// Секция Shop By Category
.shop-category {
  background-color: #fff;
  padding: 4rem 0;

  h2 {
    font-family: "Lenora", serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    display: block;
    width: 100%;
  }

  .shop-category__item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 512px;
      height: 424px;
    }

    .shop-category__title {
      font-family: "Proxima Nova", sans-serif;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

// Секция engagement-rings

.engagement-rings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 656px;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 50%;

      .title {
        font-size: 3rem;
        font-family: "Lenora", serif;
        margin-bottom: 20px;
      }

      .description {
        font-size: 20px;
        font-family: "Proxima Nova", sans-serif;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }

    .button {
      display: inline-block;
      padding: 15px 30px;
      font-size: 1rem;
      color: #000;
      text-decoration: none;
      border: 2px solid #000;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: transparent;
      }
    }

    .images {
      position: relative;
      max-width: 50%;

      .main-image {
        width: 763px;
        height: 528px;
        object-fit: cover;
      }

      .overlay-image {
        position: absolute;
        bottom: 50px;
        left: -50px;
        width: 198px;
        height: 198px;
        border-radius: 50%;
        border: 5px solid white;
      }
    }
  }
}

// Секция invitation
.invitation {
  position: relative;
  background-image: url("/assets/images/invitation.jpg");
  background-size: cover;
  background-position: center;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: "Lenora", serif;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
  }

  .btn {
    display: inline-block;
    padding: 15px 30px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: transparent;
    }
  }
}

// Секция wedding-rings

.wedding-rings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 656px;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 50%;

      .title {
        font-size: 3rem;
        font-family: "Lenora", serif;
        margin-bottom: 20px;
      }

      .description {
        font-size: 20px;
        font-family: "Proxima Nova", sans-serif;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }

    .button {
      display: inline-block;
      padding: 15px 30px;
      font-size: 1rem;
      color: #000;
      text-decoration: none;
      border: 2px solid #000;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: transparent;
      }
    }

    .images {
      position: relative;
      max-width: 50%;

      .main-image {
        width: 763px;
        height: 528px;
        object-fit: cover;
      }

      .overlay-image {
        position: absolute;
        bottom: 50px;
        left: -50px;
        width: 198px;
        height: 198px;
        border-radius: 50%;
        border: 5px solid white;
      }
    }
  }
}

//Секция 11 Our Favourites (слайдер)
h2 {
  font-family: "Lenora", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  text-align: left;
}

h3 {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

h4,
figcaption {
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  text-align: center;
}

.jewellery-slider h3 {
  margin-bottom: 1.75rem;
  margin-top: 3.75rem;
}

.jewellery-slider {
  max-width: 1440px;
  margin: 3.75rem auto 0rem auto;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.jewellery-slider__container {
  position: relative;
  margin-bottom: 6rem;
  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: #000000;
    font-size: 50px;
    font-weight: 100;

    button {
      outline: none;
    }
  }
}

.jewellery-slider__wrapper {
  max-width: 1440px;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.owl-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin: 0rem !important;
}

.jewellery-slider__img-box {
  width: 19rem;
  height: 19rem;
}

.jewellery-slider__img-box img {
  max-width: 19rem;
  max-height: 19rem;
  object-fit: cover;
}
// Конец секции 11 Our Favourites (слайдер)

// Секция 12 Budrevich has a five-star rating (отзывы)
.reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.reviews__container {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}

.reviews__heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto 3.125rem auto;
  justify-content: space-between;
}

.reviews__heading__texts {
  justify-content: flex-start;
}

.reviews__title {
  display: block;
  width: 26.5rem;
  font-family: "Lenora", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  line-height: 3rem;
  margin-left: 10.56rem;
  margin-top: 3.8rem;
}

.reviews_paragraph {
  display: block;
  width: 26.5rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
  line-height: 1.5rem;
  margin-left: 10.56rem;
  margin-top: 2rem;
}

.reviews__heading__stars-rating {
  margin-top: 4.18rem;
  margin-right: 10.56rem;
}

.reviews_icon-stars {
  text-align: right;
}

.reviews__heading__text-rating,
.reviews__heading__mark-rating {
  text-align: right;
  margin-top: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.reviews__heading__mark-rating {
  font-size: 1.56rem;
  padding-right: 1rem;
}

.reviews__heading__stars-rating_mobile {
  visibility: hidden;
}

.reviews__grid-reviews {
  display: grid;
  grid-template-rows: repeat(9, 6.25rem);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1.75rem;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}

.reviews__grid-reviews::before {
  content: "";
  width: 100%;
  height: 18rem;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5.5%, rgba(255, 255, 255, 0.551) 21.77%, #ffffff 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.reviews__grid-reviews::after {
  content: "See all Google reviews";
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 45%;
  bottom: 3.125rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.reviews__grid-reviews__grid-background {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 2rem 1.875rem;
}

.reviews__grid-reviews__review1 {
  grid-row: 1/5;
  grid-column: 1/2;
}

.reviews__grid-reviews__review2 {
  grid-row: 5/9;
  grid-column: 1/2;
}

.reviews__grid-reviews__review3 {
  grid-row: 1/6;
  grid-column: 2/3;
}

.reviews__grid-reviews__review4 {
  grid-row: 6/10;
  grid-column: 2/3;
}

.reviews__grid-reviews__review5 {
  grid-row: 1/5;
  grid-column: 3/4;
}

.reviews__grid-reviews__review6 {
  grid-row: 5/9;
  grid-column: 3/4;
}

.reviews__grid-reviews__review-photo {
  float: left;
  margin-right: 1.75rem;
}

.reviews__grid-reviews__review-name {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 0.31rem;
}

.clearfix {
  clear: both;
}

.reviews__grid-reviews__review-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  text-align: left;
  line-height: 2rem;
}

// Конец секции 12 Budrevich has a five-star rating (отзывы)

// Секция 13 Learn more и Секция 15 What's New

.learn-more-section,
.whats-new-section {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  position: relative;
  h3 {
    color: #ffffff;
  }
}

.learn-more-section::before,
.whats-new-section::before {
  content: "";
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: linear-gradient(
      111.01deg,
      rgba(4, 0, 177, 0.2) -8.76%,
      rgba(0, 0, 0, 0) 102.99%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    #363840;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.learn-more-section__common-container,
.whats-new-section__common-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 3.75rem;
}

.learn-more-section__all-cards,
.whats-new-section__all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6.125rem;
  margin-bottom: 5rem;
}

.whats-new-section__all-cards {
  margin-bottom: 5.5rem;
}

.learn-more-section__card-photo,
.whats-new-section__card-photo {
  object-fit: cover;
}

.learn-more-section__card1,
.learn-more-section__card2,
.learn-more-section__card3,
.whats-new-section__card1,
.whats-new-section__card2,
.whats-new-section__card3 {
  width: 26.5rem;
  position: relative;
}

.learn-more-section__card1:hover:after,
.learn-more-section__card2:hover:after,
.learn-more-section__card3:hover:after,
.whats-new-section__card1:hover:after,
.whats-new-section__card2:hover:after,
.whats-new-section__card3:hover:after {
  content: "";
  width: 100%;
  height: 424px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("/assets/images/learn-more_img1_hover.png") no-repeat;
}

.learn-more-section__card2:hover:after {
  background: url("/assets/images/learn-more_img2_hover.png") no-repeat;
}

.learn-more-section__card3:hover:after {
  background: url("/assets/images/learn-more_img3_hover.png") no-repeat;
}

.whats-new-section__card1:hover:after {
  background: url("/assets/images/learn-more_img3.png") no-repeat;
}

.whats-new-section__card2:hover:after {
  background: url("/assets/images/learn-more_img2.png") no-repeat;
}

.whats-new-section__card3:hover:after {
  background: url("/assets/images/learn-more_img3_hover.png") no-repeat;
}

.learn-more-section__card-photo,
.whats-new-section__card-photo {
  width: 26.5rem;
  height: 26.5rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.learn-more-section__card-figcaption,
.whats-new-section__card-figcaption {
  width: 19.44rem;
  text-align: left;
}

.whats-new-section__card-figcaption {
  width: 26.5rem;
  padding: 0rem;
}

.learn-more-section__card-photo-title,
.whats-new-section__card-photo-title {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2rem;
}

.whats-new-section__card-photo-title {
  display: block;
  width: 23.25rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.31rem;
}

.learn-more-section__card-photo-paragraph,
.whats-new-section__card-photo-paragraph {
  display: block;
  height: 4.25rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 1.25rem;
  line-height: 1.25rem;
}

.learn-more-section__btn,
.whats-new-section__btn {
  padding: 26px 55px;
  background-color: #ffffff;
  border: 1px solid #111111;
  border-radius: 5px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  vertical-align: middle;
}

.whats-new-section__btn {
  padding: 26px 34px;
}
// Конец секции 13 Learn more и Секции 15 What's New

.invitation {
  position: relative;
  background-image: url("/assets/images/invitation.jpg");
  background-size: cover;
  background-position: center;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;

  // Затемнение фона через псевдоэлемент
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: "Lenora", serif;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
  }

  .btn {
    display: inline-block;
    padding: 15px 30px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* ===================== */
/* Медиазапросы для адаптивности */
/* ===================== */

/* Для экранов с шириной от 1920px */
@media screen and (max-width: 1920px) {
  .hero__title {
    font-size: 6rem;
  }

  .hero__description {
    font-size: 1.8rem;
    max-width: 60rem;
  }

  .hero__button {
    font-size: 1.2rem;
    padding: 20px 35px;
  }
}

/* Для экранов с шириной до 1440px */
/*Адаптивы для секции 12 Budrevich has a five-star rating (отзывы)*/

@media screen and (max-width: 1440px) {
  .reviews__container {
    max-width: 1328px;
  }
}

/* Для экранов с шириной до 1280px */
@media screen and (max-width: 1280px) {
  .hero__title {
    font-size: 3.5rem;
  }

  .hero__button {
    font-size: 0.9rem;
    padding: 12px 25px;
  }

  .shop-category__item img {
    width: 35rem;
    height: 35rem;
  }

  /*Адаптивы для слайдера */
  .jewellery-slider__container {
    max-width: 1280px;
  }

  /*Адаптивы для секции 12 Budrevich has a five-star rating (отзывы)*/
  .reviews__container {
    max-width: 1168px;
  }

  .reviews__grid-reviews {
    grid-template-rows: 17rem 17rem 0rem 0rem 0rem 0rem 0rem 0rem 0rem;
    grid-template-columns: repeat(3, 23.125rem);
  }

  .reviews__grid-reviews__review1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .reviews__grid-reviews__review3 {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  .reviews__grid-reviews__review5 {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .reviews__grid-reviews__review2,
  .reviews__grid-reviews__review4,
  .reviews__grid-reviews__review6 {
    visibility: hidden;
  }

  .reviews__grid-reviews::before {
    height: 34rem;
  }

  .reviews__grid-reviews::after {
    bottom: 3.44rem;
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .reviews__grid-reviews__review-text {
    font-size: 1.375rem;
  }

  /*Адаптивы для секций 11 и 13 */
  .learn-more-section,
  .whats-new-section {
    max-width: 1280px;
  }

  .learn-more-section::before,
  .whats-new-section::before {
    height: 290px;
  }

  .learn-more-section__common-container,
  .whats-new-section__common-container {
    max-width: 1168px;
  }

  .learn-more-section__all-cards {
    max-width: 1168px;
    margin-top: 4rem;
    margin-bottom: 4.8rem;
  }

  .whats-new-section__all-cards {
    max-width: 1168px;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  .learn-more-section__card1,
  .learn-more-section__card2,
  .learn-more-section__card3,
  .whats-new-section__card1,
  .whats-new-section__card2,
  .whats-new-section__card3,
  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    width: 23.187rem;
  }

  .learn-more-section__card1:hover:after,
  .learn-more-section__card2:hover:after,
  .learn-more-section__card3:hover:after,
  .whats-new-section__card1:hover:after,
  .whats-new-section__card2:hover:after,
  .whats-new-section__card3:hover:after {
    height: 368px;
  }

  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    height: 23rem;
  }

  .learn-more-section__card-figcaption {
    width: 16.94rem;
  }

  .whats-new-section__card-figcaption {
    width: 23.19rem;
  }

  .learn-more-section__card-photo-title {
    margin-bottom: 1.25rem;
  }

  .learn-more-section__card-photo-paragraph {
    height: 5rem;
    margin-bottom: 2.375rem;
  }

  .whats-new-section__card-photo-paragraph {
    margin-bottom: 3rem;
  }

  .whats-new-section__btn {
    padding: 25px 41px;
  }
}

/* Для планшетов с шириной до 768px */
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding-left: 20px;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }

  /*Адаптивы для секции 12 Budrevich has a five-star rating (отзывы)*/
  .reviews {
    background-color: #f2f2f2;
    margin: 0 auto;
    max-width: 768;
  }

  .reviews__container {
    max-width: 686px;
    margin: 0 auto;
    padding: 0rem;
  }

  .reviews__heading {
    justify-content: left;
  }

  .reviews__heading__stars-rating_mobile {
    visibility: visible;
    margin-top: 2rem;
  }

  .reviews__heading__stars-rating {
    visibility: hidden;
  }

  .reviews__title {
    width: 17.63rem;
    font-size: 1.75rem;
    text-align: left;
    line-height: 2rem;
    margin-left: 0rem;
    margin-top: 1.56rem;
  }

  .reviews_paragraph {
    width: 17.63rem;
    font-size: 0.875rem;
    text-align: left;
    line-height: 1rem;
    margin-left: 0rem;
    margin-top: 1.375rem;
    margin-bottom: 2rem;
  }

  .reviews__grid-reviews__grid-background {
    background-color: #ffffff;
    border: 1px solid #000;
  }

  .reviews__grid-reviews {
    grid-template-rows: 13rem 10rem 18rem 0rem 0rem 0rem 0rem 0rem 0rem;
    grid-template-columns: 20.5rem 20.5rem;
  }

  .reviews__grid-reviews__review1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .reviews__grid-reviews__review5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .reviews__grid-reviews__review3 {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .reviews__grid-reviews__review2 {
    grid-row: 3/4;
    grid-column: 2/3;
    visibility: visible;
  }

  .reviews__grid-reviews__review4,
  .reviews__grid-reviews__review6 {
    visibility: hidden;
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .reviews__grid-reviews::before {
    visibility: hidden;
  }

  .reviews__grid-reviews::after {
    bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .reviews__grid-reviews__review-text {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  /*Адаптивы для секций 11 и 13 */
  .learn-more-section_common-container,
  .whats-new-section_common-container {
    max-width: 686px;
  }

  .learn-more-section::before,
  .whats-new-section::before {
    height: 190px;
  }

  .learn-more-section__common-container,
  .whats-new-section__common-container {
    max-width: 768px;
    padding-top: 3.3rem;
  }

  .learn-more-section__all-cards,
  .whats-new-section__all-cards {
    max-width: 656px;
    margin: 0 auto;
    margin-top: 2.25rem;
    margin-bottom: 4rem;
  }

  .learn-more-section__card1,
  .learn-more-section__card2,
  .learn-more-section__card3,
  .whats-new-section__card1,
  .whats-new-section__card2,
  .whats-new-section__card3,
  .learn-more-section__card-photo,
  .whats-new-section__card-photo,
  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    width: 12.5rem;
  }

  .learn-more-section__card1:hover:after,
  .learn-more-section__card2:hover:after,
  .learn-more-section__card3:hover:after,
  .whats-new-section__card1:hover:after,
  .whats-new-section__card2:hover:after,
  .whats-new-section__card3:hover:after {
    height: 192px;
  }

  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    height: 12rem;
  }

  .learn-more-section__card-figcaption,
  .whats-new-section__card-figcaption {
    width: 12.5rem;
  }

  .learn-more-section__card-photo-title {
    width: 12.5rem;
    height: 4rem;
    font-size: 1.75rem;
    margin-bottom: 0.94rem;
  }

  .whats-new-section__card-photo-title {
    width: 16.5rem;
    height: 2.25rem;
    font-size: 1rem;
    margin-bottom: 1.44rem;
  }

  .learn-more-section__card-photo-paragraph,
  .whats-new-section__card-photo-paragraph {
    height: 4rem;
    font-size: 0.875rem;
    margin-bottom: 1.75rem;
    line-height: 1rem;
  }

  .whats-new-section__card-photo-paragraph {
    height: 5.875rem;
  }

  .learn-more-section__btn,
  .whats-new-section__btn {
    padding: 19px 19px;
  }

  .wedding-rings {
    position: relative;

    .container {
      position: relative;
      width: 100%;

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Центрирование текста и кнопки
      }
    }
  }

  .engagement-rings {
    position: relative;

    .container {
      position: relative;
      width: 100%;

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Центрирование текста и кнопки
      }
    }
  }
}

/* Для мобильных устройств с шириной до 320px */
@media screen and (max-width: 320px) {
  .hero {
    justify-content: center;
    padding-left: 10px; /* Ещё меньше отступы */
  }

  .hero__title {
    font-size: 1.8rem; /* Минимальный размер заголовка */
  }

  .hero__description {
    font-size: 0.9rem; /* Уменьшенное описание */
    margin-bottom: 20px;
  }

  .hero__button {
    font-size: 0.7rem; /* Маленький текст кнопки */
    padding: 8px 15px; /* Ещё меньше кнопка */
  }

  /*Адаптивы для секции 12 Budrevich has a five-star rating (отзывы)*/
  .reviews {
    background-color: #f2f2f2;
    max-width: 320px;
  }

  .reviews__container {
    max-width: 292px;
  }

  .reviews__grid-reviews__grid-background {
    background-color: #ffffff;
    border: 1px solid #000;
  }

  .reviews__grid-reviews {
    grid-template-rows: 19rem 25rem;
    grid-template-columns: 18.25rem;
    margin-top: 0rem;
    margin-bottom: 3.125rem;
  }

  .reviews__grid-reviews__review1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .reviews__grid-reviews__review3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .reviews__grid-reviews__review4,
  .reviews__grid-reviews__review6,
  .reviews__grid-reviews__review5,
  .reviews__grid-reviews__review2 {
    visibility: hidden;
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .reviews__grid-reviews::before {
    visibility: hidden;
  }

  .reviews__grid-reviews::after {
    font-size: 0.875rem;
    line-height: 1rem;
    left: 25%;
    top: 102%;
  }

  .reviews__grid-reviews__review-text {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .reviews__title {
    width: 100%;
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 1.3rem 0rem;
  }

  .reviews_paragraph {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 1.75rem;
    justify-self: start;
  }

  .reviews_icon-stars_mobile {
    text-align: left;
  }

  .reviews__heading__stars-rating_mobile {
    margin-top: 2rem;
  }

  .reviews_icon-stars-mobile {
    width: 108px;
    height: 32px;
  }

  .reviews__heading__text-rating_mobile {
    visibility: visible;
    font-size: 0.875rem;
  }

  .reviews__heading__mark-rating_mobile {
    font-size: 1rem;
    object-fit: cover;
  }

  .reviews__heading__stars-rating {
    visibility: hidden;
  }

  .reviews__heading__texts {
    justify-items: left;
    margin: 0rem;
  }

  .reviews_paragraph {
    margin: 0rem !important;
  }

  /*Адаптивы для секций 11 и 13 */
  .learn-more-section,
  .whats-new-section {
    max-width: 320px;
  }

  .learn-more-section::before,
  .whats-new-section::before {
    height: 144px;
  }

  .learn-more-section__common-container,
  .whats-new-section__common-container {
    max-width: 264px;
    padding-top: 3.3rem;
  }

  .learn-more-section__all-cards,
  .whats-new-section__all-cards {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .learn-more-section__card1,
  .learn-more-section__card2,
  .learn-more-section__card3,
  .whats-new-section__card1,
  .whats-new-section__card2,
  .whats-new-section__card3,
  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    width: 16.5rem;
  }

  .learn-more-section__card1:hover:after,
  .learn-more-section__card2:hover:after,
  .learn-more-section__card3:hover:after,
  .whats-new-section__card1:hover:after,
  .whats-new-section__card2:hover:after,
  .whats-new-section__card3:hover:after {
    height: 256px;
  }

  .learn-more-section__card-photo,
  .whats-new-section__card-photo {
    height: 16rem;
  }

  .learn-more-section__card-figcaption,
  .whats-new-section__card-figcaption {
    width: 16.5rem;
  }

  .learn-more-section__card-photo-title {
    width: 12.5rem;
    height: 4rem;
    font-size: 1.75rem;
    margin-bottom: 0.94rem;
  }

  .whats-new-section__card-photo-title {
    width: 12.19rem;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1.19rem;
  }

  .learn-more-section__card-photo-paragraph,
  .whats-new-section__card-photo-paragraph {
    height: 3rem;
    font-size: 0.875rem;
    margin-bottom: 2rem;
    line-height: 1rem;
  }

  .whats-new-section__card-photo-paragraph {
    height: 4.75rem;
  }

  .learn-more-section__btn {
    padding: 18px 25px;
  }

  .whats-new-section__btn {
    padding: 19px 60px;
  }
}
